Add new 

  
  <form [ngFormModel]="myForm" (ngSubmit)="onAdd(myForm.value)">
    <label> Name :</label> <input type="text" 
    [ngFormControl]="myForm.controls['firstName']" placeholder="First Name"/> 
         <span >{{myForm.controls['firstName'].valid}} </span>
    {{myForm.valid}}
   <input type="text"  [ngFormControl]="myForm.controls['lastName']" placeholder="Last Name"/> 
   <!--
   <br> <label> Email :</label> <input type="email"  [ngFormControl]="myForm.controls['email']"/> 
   <br> <label> Age :</label> <input type="number" [ngFormControl]="myForm.controls['age']"/> -->
    <!--<button (click)="onAdd(first.value,last.value,email.value,
    age.value);"> Add new Contact</button>-->
    
    <button type="submit"> Submit </button>
    
  </form>